.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
  background: #FFFFFFA0 0% 0% no-repeat padding-box;
}



.spinner__image {
  animation: loader 3s linear infinite;
}

@keyframes loader
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
    
}